
div hr {
	border-color: #000000;
}

h2 {
	text-align: center;
}

.formWidth{
    width: 800px;
}

.dragPictures{
    height: 40vh;
    border: 1px solid lightgray;

}

#dropzoneFileUpload {
	background-color: white;
}

.checkPet {
	text-align: left;
}

#petsAdd{
	display: none;
}