

#sButton {
	width: 9vmax;
	font-size: 1.1vmax;
	font-weight: bold;
	background-color: #F95900;
}

#colButton {
	position: fixed;
	bottom: 0;
	right: 0;
}




.backdrop {
	margin-left: 10vw;
	margin-right: 10vw;
	border-color: black;
}

.backdrop .row{
	background-color: #CCC;
	padding-top: 1.3vh;
	padding-bottom: 1.3vh;
}

.searchPanel {
	background-color: #222;
  	border-color: #080808;
  	color: #999;
	position:fixed;
	right:0px;
	bottom: 0px;
	width:100%;
	font-size: 1.5vmax;

}

#petsBox {
	display: none;
}

.textLabel {
	margin-right: 15%;
}

#search .panel {
	margin: auto;
	margin-top:1%;
	background-color: #E6E2AF;
	width:95%;
	padding: 1.3em;
	padding-bottom: 2em;
}

.textField{
	color: black;
	width:4em;
}

#minRange, #maxRange {
	width:50vw;
}



label.radio-inline,
label.checkbox-inline {
    background-color: #dcdfd4;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 2px !important;
    margin-right: 2%;
    margin-left: 0;
    padding: 10px 10px 10px 30px;
}

label.radio-inline.checked,
label.checkbox-inline.checked {
    background-color: #006666;
    color: #fff !important;
    text-shadow: 1px 1px 2px #000 !important;
}

.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
    margin-left: 0 !important;
}

.columns{
    margin: 0 !important;
    padding: 2 !important;
    
}

.columns label.checkbox-inline {
    min-width: 180px;
    vertical-align: top;
    width: 100%;
    
}

.columns label.radio-inline{
    
    min-width: 180px;
    vertical-align: top;
    width: 30%;
}

.inner {
  min-width: 10px !important;  
    
}

.additional-info-wrap {
    display: inline-block;
    margin: 0 2% 0 0;
    min-width: 180px;
    position: relative;
    vertical-align: top;
    width: 30%;
}


.additional-info label{
    
    
}

.additional-info-wrap label.checkbox-inline,
.additional-info-wrap label.radio-inline {
    width: 100% !important;
}

.additional-info-wrap .additional-info {
    background-color: #006666;
    clear: both;
    color: #fff !important;
    margin-top: -10px;
    padding: 0 10px 10px;
    text-shadow: 1px 1px 2px #000 !important;
    width: 100%;
}

h3{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    
}

input[type=text]{
    border-radius: 0;
    
    
}

.customContainer{
    width: 100%;
    margin: 0 auto;
    
    
}

select{
    border-radius: 0 !important;
    margin-bottom: 5px;
    
}

.slider{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.margin{
    margin-bottom: 20px;
}

.position{
    margin-top: 10px;
    
}

