h4 {
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.customWidth {
    width: 90vw;
    margin: 0 auto;
    background-color: #EFECCA;
    padding-top: 3vh;
}

.imgGallery {
    height: 50vh;
    background-image: url(../uploads/8841854_orig.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
}

.mls {
    font-weight: bold;
}

.style {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.borderBot {
    border-bottom: 2px solid lightgray;
}



.button {
    border: 1px solid lightgray;
    padding: 3px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1vw;
}

@media only screen and (max-width : 320px) {
        .button {
            font-size: 1.3em;
        }
        #sendMessage, #viewProfile {
            white-space: nowrap;
            font-size: 1em;
        }
    }

@media only screen and (min-width : 320px) {
        .button {
            font-size: 1.3em;
        }
        #sendMessage, #viewProfile {
            white-space: nowrap;
            font-size: 1em;
        }
    }
@media only screen and (min-width : 768px) {
        .button {
            font-size: 0.7em;
        }
        #callNow {
            white-space: nowrap;
            font-size: 0.6em;
        }
        #sendMessage, #viewProfile {
            font-size: 1.3vw;
        }
    }

@media only screen and (min-width : 830px) {
        #callNow {
            font-size: 0.7em;
        }

    }    

@media only screen and (min-width : 900px) {
        .button, #callNow {
            font-size: 1.2vw;
        }
    }

#saveToFavourites {
    background-color: #ff8b4d;
    border: 1px solid #ff8b4d;
    color: white;
}

#callNowLink {
    color: white;
    text-decoration: none;
}

#callNow {
    background-color: #F95900;
    color: white;
    border: 1px solid #F95900;
}

.similarListing {
    height: 30vh;
    border: 1px solid lightgray;
}

.landlordProfile {
    margin-top:0vh;
}

.margin{
    margin-bottom: 2vh;
}

.profile {
    height: 30vh;
    width: 30vh;
    border-radius: 30vh;
    background-image: url(../uploads/defaultProfile.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
}


#sendMessage {
    padding: 10px;
    text-align: center;
    background-color: #F95900;
    color: white;
    width: 49%;
    margin-right: 2%;
    cursor: pointer;
  
}



#viewProfile {
    width: 49%;
    padding: 10px;
    text-align: center;
    background-color: #F95900;
    color: white;
    cursor: pointer;
}

#features{
    font-weight: bold;
    cursor: pointer;
}

.features{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
   
   overflow: hidden;

}

.hideFeatures{
    max-height: 0vh;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#inner ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    padding: 0px;
}

#inner ul li{
    list-style-image: url(../uploads/checkmark.png);
    list-style-position: inside;
   
}

p a{
    text-decoration: none;
    color: white;
}

p a:hover{
    text-decoration: none;
    color:white;
};