.pageTitle {
	margin-top: 6%;
	margin-bottom: 0.7em;
	text-align: left;
}

select {
	-webkit-appearance: menulist-button;
	height: 1.7max;
}

#selDiv {
	text-align: right;
}

.pageBar, #refineDiv table {
	padding: 2%;
	font-size: 1.2em;
}
.pageBar {
	border-bottom: 3px solid black;
	border-top: 6px solid black;
	background-color: #A7A37E;
}

#listTitle {
	font-size: 1.1em;
	margin-bottom: 1%
}

#refineDiv {
	padding: 1%;
	width: 100%;
	margin-top: 4%;
	background-color: #E6E2AF;
}


#refineDiv button{
	width: 40%;
	min-width: 5em;
	height: 1.5em;
	background-color: #A7A37E;
	vertical-align: bottom;
	line-height: 1.5%;
	font-size: 1em;
}

#refineDiv input {
	font-size: 1em;
	width: 100%;
	height: 1.5em;
	vertical-align: bottom;
}

.listing {
	border-top: 4px solid grey;
}

.pageBody table {
	margin-top: 6%;
	font-size: 1.3em;

}

.features img {
	float: left;
	height: 1.7em;
	width: 1.7em;
	margin-right: 1vw;
}