.pageTitle {
	margin-top: 6%;
	margin-bottom: 0.7em;
	text-align: left;
}

select {
	-webkit-appearance: menulist-button;
	height: 1.7max;
}

#selDiv {
	text-align: right;
}

.pageBar, #refineDiv table {
	padding: 2%;
	font-size: 1.2em;
}
.pageBar {
	border-bottom: 3px solid black;
	border-top: 6px solid black;
	background-color: #A7A37E;
}

#refineDiv {
	width: 100%;
	margin-top: 4%;
	background-color: #E6E2AF;
}

#refineDiv table{
	width: 90%;
	text-align: center;
	margin: 0%;
}

#refineDiv table td{
	padding: 0px;
	padding-top: 2%;
	padding-bottom: 2%;
}

#refineDiv table button{
	width: 34%;
	height: 2.5vmax;
	background-color: #A7A37E;
	margin: auto;
	line-height: 1.25vmax;
	font-size: 1.6vmax;
}

#refineDiv table input {
	width: 50%;
	height: 2.5vmax;
	vertical-align: bottom;

}

.listing {
	border-top: 4px solid grey;
}

.pageBody table {
	margin-top: 6%;
	font-size: 1.3em;

}

.features img {
	float: left;
	height: 1.7em;
	width: 1.7em;
	margin-right: 1vw;
}