
#slider {
	margin-top: 3%;
	margin-bottom: 3%;
}

#centerText{
	text-align: center;
	text-decoration: underline;
}

.row {
	margin-bottom: 3%;
}

#sButton {
	width: 9vmax;
	font-size: 1.1vmax;
	font-weight: bold;
	background-color: #F95900;
}

select {
	width: 10em;
}

select, input {
	background-color: #A7A37E;
	color: white;
}

input {
	position: absolute;
	right: 40%;
}

.backdrop {
	margin-left: 10vw;
	margin-right: 10vw;
	border-color: black;
}

.backdrop .row{
	background-color: #CCC;
	padding-top: 1.3vh;
	padding-bottom: 1.3vh;
}

.searchPanel {
	background-color: #222;
  	border-color: #080808;
  	color: #999;
	position:fixed;
	right:0px;
	bottom: 0px;
	width:100%;
}

#petsBox {
	display: none;
}

.textLabel {
	margin-right: 15%;
}

#search {
	font-size: 1.2em;
}

#search .panel {
	margin: auto;
	margin-top:1%;
	background-color: #E6E2AF;
	width:95%;
	padding: 1.3em;
	padding-bottom: 2em;
}

.textField{
	color: black;
	width:4em;
}

#minRange, #maxRange {
	width:50vw;
}
