#col1, #col2{
  height:100%;
}

#col1 {
  position: relative;
  z-index:1;
}

#col2>.row {
  height: 30%;
  width: 100%;
  margin-top: 0px;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

#col2{
  font-size: 1.4vmax;
  font-family: 'calibri', sans-serif;
  overflow-y: scroll;
}

#title {
  font-weight: 700;
}

#col2 .housePic {
  height: 80%;
  width: 80%;
  min-height: 10em;
} 

.feature {
  width: 1.1vw;
  height: 1.1vw;
}

#col2 table {
  font-size: 80%;
}

.table-condensed tr th {
   border-bottom: 1px solid #A7A37E; /* Change the color you want to set */
}

.table-condensed tr td {
   border-bottom: 1px solid #A7A37E; /* Change the color you want to set */
}

div.row {
  margin-right: 0px; 
  margin-left: 0px;
}

