
#email {
	overflow-x: auto;
	text-align: left;
	max-width: 100%;
	font-size: 2vw;
}

#emailTitle{
	font-size: 1.1em;
}

form {
	margin: 2%;
	padding: 3%;
	font-size: 0.6em;
	background-color: #CCC;
}
.panel {
	padding: 0.2em;
	background-color: #CCC;
}

#button {
	text-align: right;
	margin-top: 2%;
}

#passFormTitle {
	text-align: center;
	margin-top: 2%;
}

body {
	margin-left: 1em;
}

#profileTitle{
	font-size: 3vw;
}

.col-xs-10{
	font-size: 1.7vw;
}

#pTitle {
	text-align: center;
}