.panel {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-top: 2%;
	background-color: #CCC;
	text-align: center;
}

.panel strong {
	font-size: 2vmax;
}

.profileInfo {
	font-size: 0.6em;
	font-size: 2.5vh;
	overflow-x: auto;
	overflow-y: hidden;
}

#listings {
	overflow-x: scroll;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.actualComment {
	margin-left: 13%;
	font-size: 0.7em;
	font-size: 2.3vmin;
	text-align: left;
}

.commentorsName {
	font-size: 0.6em;
	font-size: 2.5vmin;
	text-decoration: underline;
	text-align: left;
}

#commentsTable .panel {
	background-color: white
}

.listingCell {
	min-width: 20vw;
	max-width: 15em;
}
	
.dataTitle{
	height:5em;
	overflow: hidden;
}	

.dataPrice{
	height:2em;
	overflow: hidden;
}	

.listingData, .listImages {
	margin: auto;
	width: 100%;
	max-width: 30em;
}

.tableTitle{
	font-size: 2.7vmin;
}

.listingData h2 {
	display: block;
	overflow: auto;
	max-width: 100%;
	height: auto;
	font-size: 1em;
	margin: 4px;
}
