#warning {
	text-decoration: underline;
	color: red;
}

#remove {
	color: red;
	display: none;
	font-weight: bold;
	margin-left: 2em;
}

.table {
	background-color: #cce6ff;
	font-size: 1.2em;
}

#addProp{
	text-align: center; 
	font-size: 0.9em;
	margin-bottom: 2em;
}

#buttonDiv {
	margin-bottom: 2.9em;
}

.btn {
	text-align: center;
	font-size: 1em;
	width: 65px;
	background-color: grey;
	position: absolute;
	right:30px;
}

.tablePostHistory{
	background-color: #CCC;
}

.prices{
	text-align: right;
}

.features img{
	float:left;
	margin-right: 1em;
	height: 1.6vmax;
	min-height: 1em;
	min-width: 1.6vmax;
	min-width: 1em;
}
.features2 img{
	float:left;
	margin-right: 0.3em;
	height: 1.2vmax;
	width: 1.2vmax;
}

.picture.img-responsive{
	margin: auto; 
}

.row.favList {
	white-space: nowrap;
	overflow: ellipsis;
	}
}
