#addProp{
	text-align: center; 
	font-size: 1em;
	margin-bottom: 2em;
}

table {
	margin: auto;
	margin-top: 1%;
}


#buttonDiv {
	margin-bottom: 2.9em;
}

table td, table th{
	padding: 0.8em;

}

#title {
	color: red;
	font-size: ;
}

table th{
	font-size: 1.6em;
	background-color: #CCC;
	padding-left: 1em;
	padding-right: 1em;
}

table td {
	font-size: 1.3em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

#tableDiv {
	margin-top: 6%;
	text-align: left;
}

.searchCriteria {
	font-size: 1.8vmax;
	padding-left: 0;
}

.secondTitle{
	visibility: hidden;
}

#listingsLink {
	color: #0000EE;
	cursor: pointer; cursor: hand;
}

#listingsLink:hover{
	text-decoration: underline;
}
