.table {
	font-size: 0.7em;
	background-color: #cce6ff;
}

#buttonDiv {
	margin-bottom: 2.9em;
}
#profileTitle {
	margin-top: 0.8em;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

button {
	text-align: center;
	font-size: 0.4em;
	width: 65px;
	background-color: grey;
	position: absolute;
	right:30px;
}

.tablePostHistory{
	background-color: #CCC;
}
