table {
	margin: auto;
	margin-top: 1%;
}

button {
	background-color: grey;
	position: absolute;
	right:30px;
	margin-right: 4.5%;
}

#editButton {
	width: 65px;
}

#buttonDiv {
	margin-bottom: 2.9em;
}

table td, table th{
	padding: 0.8em;

}

#title {
	color: red;
	font-size: ;
}

table th{
	font-size: 1.6em;
	background-color: #CCC;
	padding-left: 1em;
	padding-right: 1em;
}

table td {
	font-size: 1.3em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

#tableDiv {
	margin-top: 6%;
	text-align: left;
}

button {
	position: absolute;
	right:0;
}