
#email {
	overflow-x: auto;
	text-align: left;
	max-width: 100%;
	font-size: 1.3em;
}

#emailTitle{
	font-size: 2.5vmax;
}

form {
	margin: 2%;
	padding: 3%;
	font-size: 1.2em;
	background-color: #E6E2AF;
}
.panel {
	padding: 0.2em;
	background-color: #E6E2AF;
}

#button {
	text-align: right;
	margin-top: 2%;
}

#passFormTitle {
	text-align: center;
	margin-top: 2%;
}

.form-control{
	font-size: 2vmax;
}

#pTitle {
	text-align: center;
}

form .row{
	margin-top: 1.2em;
}