form {
	font-size: 1.3em;
	margin-top: 5%;
}

#signUpTitle {
	font-size: 400%;
	margin-top: 10%;
	margin-left: 10%;
}

.row {
	margin-bottom: 2%;
}

#phoneNumDiv input {
	font-size: 1em;
	text-align: center;
}